/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES GLOBALES  */
:root {
  --bg-global: #e0ffe2;
  --bg-tarjeta: #f8f8f8;
  --texto-principal: #2d4a3e;
  --borde-input: #a5d6a7;
  --bg-input: #ffffff;
  --texto-input: #2d4a3e;
  --sombra: rgba(0, 0, 0, 0.6);
}

html, body, #root {
  width: 100vw;
  min-height: 100vh; 
  background-color: var(--bg-global);
  overflow-x: hidden; 
  overflow-y: auto; 
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease; 
}